html, body {
   height: auto;
   width: auto;
   margin: 0;
   font-family: 'Tenali Ramakrishna', sans-serif;
}
.bg-img-wrapper { 
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
}
.bg-img { 
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
}
.img-desktop {
  display: block;
}
.img-mobile {
  display: none;
}
.home-button {
  cursor: pointer;
  font-weight: 600;
  font-size: 44px;
  margin-top: 70px;
  margin-left: 50px;
  color: white;
  position: fixed;
  background-color: transparent;
}
.mypic {
  width: 248px;
  height: 244px;
  object-fit: cover;
  border: solid 8px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgb(162, 162, 162);
  margin: auto;
  margin-bottom: -102px;
  left: 50px;
  right: 50px;
  color: #FFF;
  z-index: 10;
}
.heading {
  text-align: center;
  font-size: 75px;  
  color: white;
  margin-top: 10%;
}
.home-section {
  margin: auto;
  position: relative;
  color: #FFF;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutme-wrapper {
  background-color: #eeeaf4;
  width: 100%;
  display: flex;
  justify-content: center;
}
.skills-wrapper {
  margin-top: 250px;
  background-color:  #bfc8da;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.work-wrapper {
  margin-top: 250px;
  background-color: #eeeaf4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.inner-section {
  padding: 100px 0;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 0 100px;
}
.inner-section-project {
  padding: 100px 0;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px 0 100px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content > p:first-of-type {
  margin-right: 25px;
}
.content > p:nth-child(2) {
  margin-left: 25px;
}
.section-heading {
  font-size: 50px;
  color: white;
}
p {
  font-size: 25px;
  color: #374b70;
}
.input1 {
  border: none;
  border-bottom: solid 1px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.contactus-label {
  margin: 50px 0 40px;
  font-size: 28px;
}
.contactus-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactus-details-section {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.contactus-inputs-section {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.contactus-input {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  border: none;
  font-size: 20px;
  padding: 0 10px;
  border: 1px solid rgb(241, 242, 244);
  font-family: 'Tenali Ramakrishna', sans-serif;
}
.contactus-message-section {
  width: 40%;
}
.contactus-btn-section {
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.message {
  border: none;
  height: 120px;
  width: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid rgb(241, 242, 244);
  font-size: 20px;
  font-family: 'Tenali Ramakrishna', sans-serif;
}
.contactus-btn {
  background: #374b70;
  color: rgb(239,240,241);
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  cursor: pointer;
  line-height: 16px;
}
.field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 25px;
}
.field > span:first-of-type {
  text-align: left;
}
.field > span:nth-child(2) {
  text-align: right;
}
.contact-section{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  margin-top: 250px;
  color: #FFF;
  display: flex;
  height: 450px;
}
.contact-details {
  background-color: #374b70;
  width: 50%;
  display: flex;
  height: 450px;
  justify-content: center;
}
.contact-fields {
  width: 80%;
}
.contact-form {
  width: 50%;
  height: 450px;
  background-color: #bfc8da;
}
.contact {
  color: black
}
.footer {
  background-color: #E6EBF1;
  text-align: center;
  color: #656dad;
}
.error-msg {
  color: red;
  display: none;
}
.success-msg {
  color: green;
  display: none;
}
.content-id{
  padding-bottom: 10px;
  font-size: 50px;
  color: #1b1c1d;
  padding-left: 60px;
}
.content-id-1{
  padding-bottom: 10px;
  font-size: 50px;
}
.field > span:first-of-type {
  margin-right: 20px;
}
.experience {
  text-align: center;
  height: 250px;
  width: 33%;
  font-size: 20px;
  background-color: #eeeaf4;
  color: #374b70;
}
.experience-dark {
  color: #eeeaf4;
  background-color: #374b70;
}
.skills-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.skills {
  width: 33%;
  height: 250px;
  background-color: #bfc8da;
  color: #374b70;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills > a {
  color: white;
}
.skills-dark {
  color: #eeeaf4;
  background-color: #374b70;
}
.skills-icon {
  width: 90px;
  border-radius: 50%;
}
.skills-title {
  margin-top: 20px;
  font-size: 22px;
}
.duration {
  font-size: 15px;
  margin-top: -10px;
}
.top-margined {
  margin-top: 15px;
}
.experience-section {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  body{
    width: 100%;
  }
  .heading {
    margin-top: 15%; 
  }
  .content > p:first-of-type {
    margin-right: 10px;
  }
  .content > p:nth-child(2) {
    margin-left: 10px;
  }
  .mypic {
    margin-top: -75px;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
  }
  .aboutme-wrapper {
  background-color: #eeeaf4;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70%;
  }
  .content {
  display: block;
  }
  .inner-section {
  padding: 100px 0;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 239px 0 100px;
}
.content > p:first-of-type {
  font-size: 40px;
}
.content > p:nth-child(2) {
  margin-left: 10px;
  font-size: 40px;
}
.skills-wrapper {
  height: 70%;
}
.section-heading {
  font-size: 75px;
}
.experience-section {
  display: block;
  margin-bottom: 175px;
}
.experience {
  width: 75%;
  height: 300px;
  margin-left: 10%;
  font-size: 30px;
  display: table;
}
.duration {
  font-size: 29px;
}
.work-wrapper {
  height: 70%;
} 
.skills-section {
  display: block;
}
.skills-dark {
  width: 75%;
  height: 300px;
  font-size: 30px;
}
.skills {
  width: 75%;
  height: 300px;
  margin-left: 10%;
  font-size: 27px;
}
.skills-title {
  font-size: 40px;
}
.contact-section {
  display: block;
}
.contact-details {
  width: 100%;
  height: 500px;
}
.contact-form {
  width: 100%;
  height: 500px;
}
.content-id {
  font-size: 60px;
}
.content-id-1 {
  font-size: 60px;
}
.contactus-details-section {
  width: 85%;
}
.contactus-input {
  height: 50px;
  font-size: 35px;
}
.message {
  height: 160px;
  font-size: 35px;
}
.contactus-btn-section {
  margin: 50px 0;
}
.contactus-btn {
  padding: 14px 20px;
  font-size: 30px;
}
.field {
  font-size: 35px;
}
.home-button {
  font-size: 61px;
}
}
